# Created by .ignore support plugin (hsz.mobi)

/target
/.idea
*.iml
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
target/
